p.payment_module a.creditcard::after{
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777;
}

p.payment_module a.creditcard {
    background: url(../img/payment-types/creditcard_icon.png) 15px 12px no-repeat #fbfbfb;
}